<div class="jumbotron">
  <h1>Form.io Builder & Renderer</h1>
</div>

<div class="row">
  <div class="col-sm-8">
    <h3 class="text-center text-muted">
      The Form Builder allows you to build a 
      <select class="form-control form-type-select" ng-model="form.display" ng-options="display.name as display.title for display in displays"></select>
    </h3>
    <pre class="text-center bg-info"><h4><code>&lt;form-builder form="form"&gt;&lt;/form-builder&gt;</code></h4></pre>
    <div class="well" style="background-color: #fdfdfd;">
      <form-builder form="form"></form-builder>
    </div>
  </div>
  <div class="col-sm-4">
    <h3 class="text-center text-muted">as JSON Schema</h3>
    <pre class="bg-info"><h4><code>form = </code></h4></pre>
    <div class="well jsonviewer">
      <json-explorer data="form" collapsed="jsonCollapsed"></json-explorer>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h3 class="text-center text-muted">which Renders as a Form in your Application</h3>
    <pre class="text-center bg-info"><h4><code>&lt;formio form="form"&gt;&lt;/formio&gt;</code></h4></pre>
    <div class="well">
      <formio form="form" ng-if="renderForm"></formio>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="row marketing">
  <h4>Form.io Builder</h4>
  <p>
    Form.io Builder that renders JSON format of form tag.
  </p>

  <h4>Form.io Renderer</h4>
  <p>
    Form.io Renderer that will take JSON and renders the form
  </p>

</div>
